:root {
    /* Globális css változó definiálása */
    --honey: #edae49;
    --red: #d1495b;
    --aqua: #00798c;
    --baltic: #30638e;
    --darkblue: #003d5b;
}

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--darkblue); /* Globális változó meghívása */
    color: var(--honey);
    margin-right: 5%;
    margin-left: 5%;
}

a {
    text-decoration: none;
    padding: 10px;
    border: var(--honey) solid 1px;
    border-radius: 20px;
    background-color: var(--aqua);
    color: var(--honey);
}

a:hover {
    background-color: var(--baltic);
    cursor: pointer;
}

span {
    color: var(--red);
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.actions form {
    padding: 0;
}

.actions a, .actions button {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 5px;
    margin: 0px;
}

.actions a:hover, .actions button:hover {
        font-weight: bold;
}

.likeAtag {
    margin-top: 15px;
    text-decoration: none;
    padding: 10px;
    border: var(--honey) solid 1px;
    border-radius: 20px;
    background-color: var(--aqua);
    color: var(--honey);
    cursor: pointer;
}

.errorList {
    color: var(--red);
}

.likeAtag:hover {
    background-color: var(--baltic);
}

.app-container {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    border: var(--honey) 1px solid;
    margin-bottom: 25px;
}

td,
th {
    border: solid var(--honey) 1px;
    padding: 5px;
    padding-right: 10px;
}

td {
    min-width: 200px;
}

table {
    border: 1px black solid;
    border-collapse: collapse;
}

.datarow:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}

/* Form controls */

.form-group label,
.form-group input {
    display: block;
}

.form-group input {
    margin-bottom: 20px;
}
