td, th {
    border: solid black 1px;
    padding: 5px;
    padding-right: 10px;
}

td {
    min-width: 200px;
}

table {
    border: 1px black solid;
    border-collapse: collapse;
}

.datarow:hover {
    background-color: cornflowerblue;
    cursor: pointer;
    font-weight: bold;
}